.c-buddy{
  width: 26.2rem;
  height: 27.2rem;
  background-color: #fff;
  border-radius: 10px;
}

.c-buddy__header{
  height: 9rem;
  border-radius: 10px 10px 0px 0px;
}

.c-buddy__header__img{
  width: 12rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: translateY(4rem);
}

.c-buddy__body{
  margin-top: 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  font-size: 1.6rem;
  text-align: center;
  margin-inline: 3.2rem;

}

.c-buddy__body__name{
  color: #6278F7;
  font-size: 1.8rem;
  font-weight: 700;

}
